node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.nyc_output
coverage
*.lcov
.coverage
.nyc_output
coverage
logs
npm-shrinkwrap.json
*.tgz
.yarn-integrity
.lock-wscript
.babel_cache
next.config.js
out
build
dist
.nuxt
.vuepress/dist
cypress/videos
cypress/screenshots
selenium
*.seleniumsessions
# Editor directories and files
.vscode
.idea
*.swp
*.swo
*~
.vs
.gradle
target/
!.gitkeep
data/
scripts/
slugImages.json
merged.json
slugImagesdelhi.json
slugImag.json
North-delhi 
South-delhi 
East-delhi 
West-delhi 
Central-delhi 
